# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks
.ipynb_checkpoints/

.pdf

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks